 *{
  margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    

   }
  .grid-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "aside main main"
    "footer footer footer";
 
  }

  .grid-header{
    background-color: #3C8527;
    color: #ffffff;
    grid-area: header;
    font-family: Trebuchet MS, Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .grid-header p {
    font-weight: 100;
  }
  
  .grid-aside{
    background-color: #ffffff;
    grid-area: aside; 
   }

  .grid-main{
    background-color: #ffffff;
    grid-area: main;
  }
  
  .grid-footer{
    background-color: #28651C ;
    color: #ffffff;
    grid-area: footer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .main-img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
  } 